.dsccheckbox-flex, .dsccheckbox-image, .checkbox .dsccheckbox-checkmark, .dsccheckbox-switch-track {
	display: flex;
}

.checkbox, .dsccheckbox-image .checkbox-image {
	margin: auto;
}

.checkbox {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 25%;
	border: 1px solid rgb(100, 100, 100);
}

.checkbox .dsccheckbox-checkmark::before{
	color: rgb(100, 100, 100);
	transform: translateX(25%) translateY(-12.5%);
}

.checkbox .dsccheckbox-checkmark.checked::before{
	content: '\2713';
}

.dsccheckbox-switch-track {
	width: 3.5rem;
	border-radius: 1rem;
	background-color: rgb(200, 200, 200);
}

.dsccheckbox-switch-track .dsccheckbox-switch {
	width: 45%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid rgb(100, 100, 100);
}

.dsccheckbox-switch-track .dsccheckbox-switch.checked{
	margin-left: auto;
}

.dsccheckbox-image{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.small{
	width: 1.25rem;
	height: 1.25rem;
}

.medium {
	width: 2.5rem;
	height: 2.5rem;
}

.large {
	width: 3.75rem;
	height: 3.75rem;
}