.dsccheckbox-checkbox{
	display: flex;
}

.dsccheckbox-checkbox .checkbox {
	margin: auto;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 25%;
	border: 1px solid rgb(100, 100, 100);
}

.dsccheckbox-checkbox .checkbox .dsccheckbox-checkmark{
	display: flex;
}

.dsccheckbox-checkbox .checkbox .dsccheckbox-checkmark::before{
	color: rgb(100, 100, 100);
	transform: translateX(25%) translateY(-12.5%);
}

.dsccheckbox-checkbox .checkbox .dsccheckbox-checkmark.checked::before{
	content: '\2713';
}