.label-inline {
	z-index: 1;
}

.label-inline.top {
	top: 0rem;
}

.label-inline.bottom {
	bottom: -0.5rem;
}

.label-inline.left {
	left: 1rem;
}

.label-inline.right {
	right: 1rem;
}

.label-inline label {
	position: absolute;
	left: 0;
	right: 0;
	height: 0.1rem;
}

.label-inline.top label span, .label-inline.bottom label span {
	display: flex;
	justify-content: center;
	transform: translateY(-0.6rem);
}

.error {
	color: rgb(155, 0, 0);
	font-weight: bold;
}
