@using DSComponents.Input.Models
@inject IDSCService DSCService

<li class="@((_selected) ? "selected" : "")" @onclick="selectItem">@Value</li>

@code {
    [CascadingParameter]
    protected DSCInputConfig Config { get; set; }
    [Parameter]
    public object Value { get; set; }

    [Parameter]
    public EventCallback? SelectCallback { get; set; }

    private bool _selected;

    protected override void OnParametersSet()
    {
        if (Config.Value.Contains(Value) == true)
            _selected = true;

        base.OnParametersSet();
    }

    private void selectItem()
    {
        _selected = !_selected;

        if (!Config.Multiple)
            Config.Value = new List<object>();

        if (_selected && !Config.Value.Contains(Value))
            Config.Value.Add(Value);
        else
            Config.Value.Remove(Value);

        if(Config.Value.Count() > Config.Maximum)
        {
            Config.Value.Remove(Value);
            _selected = false;
        }

        if (SelectCallback is not null)
            SelectCallback?.InvokeAsync();
    }
}