.dscselect{
    display: flex;
}

.dscselect-select {
    border-style: solid;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    min-height: 30px;
    width: 100%;
}

.dscselect-select .dscselect-content-wrapper {
    display: flex;
    height: 30px;
}

.dscselect-select .dscselect-content{
    display: flex;
}

.dscselect-select .dscselect-content .dsc-content-items{
    margin: auto;
    padding: 0 0.5rem;
}

.dscselect-select-menu {
    position: relative;
    max-height: 300px;
    border-radius: 0.25rem;
    z-index: 1000;
}

.dscselect-select-menu ul {
    position: absolute;
    width: 75%;
    list-style: none;
    padding: 0;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.dscselect-select-menu ul.menu-full-width{
    width: 100%;
}

.empty-list{
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.chevron {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.chevron-up::before{
    content: '\25b2';
}

.chevron-down::before {
    content: '\25bc';
}